/* search div */
.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	vertical-align: middle;
	position: relative;
}
/* Button of search div */
.filters > button {
	display: inline-block;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	left: auto;
	top: 11px;
}
.filters > button:hover {
	opacity: 0.9;
}