.places {
	text-align: center;
	z-index: -1;
	position: relative;
}
.places h1 {
	padding-left: 20px;
	font-size: 30px;
	margin-bottom: 10px;
}
.places article {
	display: inline-block;
	vertical-align: top;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
	min-height: 350px;
}
.squares h2 {
	font-size: 30px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 30px;
}
.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	position: absolute;
	right: 10px;
	left: auto;
	top: 10px;
}
.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.max_guest, .number_rooms, .number_bathrooms {
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 70px;
	display: inline-block;
	line-height: 125px;
}
.max_guest {
	background-image: url("../images/icon_group.png");
}
.number_rooms {
	background-image: url("../images/icon_bed.png");
}
.number_bathrooms {
	background-image: url("../images/icon_bath.png");
}
.user {
	margin-bottom: 10px;
}
.u_d {
	text-align: left;
	margin-top: 20px;
	position: relative;
	left: 0;
}